@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin link-no-underscore() {
  &, &:hover {
    text-decoration: none;
  }
}

* {
  box-sizing: border-box;
}

html, body {
  font-size: 14px;
  font-family: San Francisco ,-apple-system, BlinkMacSystemFont, ".SFSNText-Regular", Segoe UI, Ubuntu, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 15px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

a {
  @include link-no-underscore;
  color: $color-primary;
}

hr {
  margin: 0;
  height: 1px;
  width: 100%;
  background: $color-gray;
  border: 0;
}

.container {
  width: 998px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

.vtc-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}