@import "../stylesheets/app.scss";

.docs-hero {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;

  .docs-hero__body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
  }

  .docs-hero__heading {
    font-size: 48px;
    font-weight: 300;
    color: $color-primary;
  }

  .docs-hero__sub-heading {
    color: #a6adb9;
    font-size: 32px;
    font-weight: 300;
  }

  .docs-hero__action {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }

  .docs-hero__action-button {
    position: relative;
    display: inline-block;
    padding: 10px;
    padding-right: 30px;
    color: #000;
    font-size: 24px;
    font-weight: 300;
    background: transparent;
    border: 0;
    cursor: pointer;
    outline: 0;
    opacity: 0.6;
    transition: 0.2s opacity;
  }

  .docs-hero__caret {
    position: absolute;
    top: calc(50% - 6px);
    right: 10px;
    transform: translateY(-50%);
  }

  .docs-hero__caret::before,
  .docs-hero__caret::after, {
    content: "";
    position: absolute;
    display: block;
    height: 12px;
    width: 3px;
    background: #a6adb9;
  }

  .docs-hero__caret::before {
    transform: rotate(-45deg);
  }

  .docs-hero__caret::after {
    left: 6px;
    transform: rotate(45deg);
  }

  @keyframes bounce {
    0% {
      transform: translateY(-20px);
    }

    100% {
      transform: translateY(20px);
    }
  }

  .docs-hero__action-button:hover .docs-hero__caret {
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
}